$nav-display-header-button: false !default;
$nav-display-overview-button: true !default;

@if $nav-display-header-button {
  .navigation_button_area .navigation_bar_buttons li {
    height: 12.25%;

    &.mute {
      height: 25%;
    }
  }

  &.with_overview_button,
  &.with_home_button {
    .navigation_button_area .navigation_bar_buttons li {
      height: 11.11%;

      &.mute {
        height: 22.22%;
      }
    }
  }

  &.with_overview_button.with_home_button {
    .navigation_button_area .navigation_bar_buttons li {
      height: 10%;

      &.mute {
        height: 20%;
      }
    }
  }
}
@else {
  .navigation_button_area .navigation_bar_buttons li {
    height: 12.25%;

    &.menu_li {
      display: none;
    }

    &.mute {
      height: 25%;
    }
  }

  &.with_overview_button.with_home_button {
    .navigation_button_area .navigation_bar_buttons li {
      height: 11.11%;

      &.mute {
        height: 22.22%;
      }
    }
  }
}

@if not $nav-display-overview-button {
  .navigation_overview_item {
    display: none;
  }
}
