<li class="parent_page">
  <a href="#"></a>
  <div class="navigation_site_detail progress_navigation">
    <h2><%= t('.header') %></h2>
    <hr />
    <div class="page_info">
    </div>
  </div>
</li>
